.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 350px;

}

.li a:hover {
    color: white;
    font-weight: bold;
}


.li:last-child {
    border-right: none;
}


.li {
    float: left;
}


.li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover:not(.active) {
    color: white;
    background-color: #7e7e77;
    font-weight: bold;
}

.name {
    margin-top: 100px !important;
}